<!DOCTYPE html>
<html lang="en" ng-app="beCloser">
<head>
	<meta charset="UTF-8">
	<title>Be Closer</title>
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/ui/ui.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/beCloserCtrl.js"></script>
	<script src="js/services/beCloserAPIService.js"></script>
	<script src="js/value/configValue.js"></script>
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>
	<script src="js/directives/uiAlertDirective.js"></script>
	<script src="js/directives/uiDateDirective.js"></script>

    <link rel="icon" href="img/favicon.ico">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">


</head>

<body ng-controller="beCloserCtrl" class="jumbotron">
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        	<a class="navbar-brand" href="#home" ng-click="changeView('home')">Início</a>
        	<a class="navbar-brand" href="#works" ng-click="changeView('home')">Como Funciona</a>
        	<a class="navbar-brand" href="#" ng-click="loadInstituitions(); changeView('registerInstituitions')">Instituições</a>
        	<a class="navbar-brand" href="#" ng-click="loadEvents(); changeView('events')">Eventos</a>
        </div>
      </div>
    </nav>

	<div ng-show="page =='home'" id="/home">
		<div ng-include="'view/home.html'"></div>
	</div>
	<div ng-show="page =='events'">
		<div ng-include="'view/events.html'"></div>
	</div>

	<div ng-show="page =='registerInstituitions'">
		<div ng-include="'view/institution.html'"></div>
	</div>

</body>
</html>

