<img src="../img/logo.jpg" width="60%" height="60%" style="border:0;">


<p>
Com o intuito de aproximar os seus usuários a tomarem atitudes sociais, o BeCloser surgiu como um programa de integração, com usuários colaborando, apoiando eventos sociais, dando suporte a grupos de terceira idade, crianças, defesa dos animais e programas de reflorestamento.</p>

<br>

<div ng-show="page =='home'" id="/works">
  <div ng-include="'view/works.html'"></div>
</div>


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#colabore">Colabore</button>

<!-- Modal -->
<div class="modal fade" id="colabore" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cadastro</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'view/register.html'"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#souColaborador">Sou colaborador</button>

<!-- Modal de cadastro de usuário-->
<div class="modal fade" id="souColaborador" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <!-- Cadastro de usuário-->
        <input type="text" class="form-control" ng-model="card" placeholder="Insira o número do seu cartão" ng-pattern="/^\d{4}-\d{4}-\d{4}-\d{4}$/" ng-required="true"/>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="login(card)">Entrar</button>
        </span>

        <div ng-show="userForm.card.$error.pattern" class="alert alert-danger">
          O campo Número do cartão deve ter o formato XXXX-XXXX-XXXX-XXXX.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>