<h2>Cadastro de Instituição</h2>

<div>
	<form name="instituitionForm">
		<input class="form-control" type="text" ng-model="instituition.name" name="name" placeholder="Nome" ng-required="true" />
		<input class="form-control" type="email" ng-model="instituition.email" name="email" placeholder="Email" ng-required="true"/>
		<input class="form-control" type="text" ng-model="instituition.description" name="description" placeholder="Descrição" ng-required="true" />
		<input class="form-control" type="text" ng-model="instituition.leader" name="leader" placeholder="Responsável" ng-required="true" />
		<input class="form-control" type="text" ng-model="instituition.cnpj" name="cnpj" placeholder="CNPJ" ng-required="true" />
	</form>
	<br>
	<p>Selecione quais dos programas você atende</p>

	<div class="input-form">
	<form action="">
  		<input type="radio" name="instituition.program" value="animals"> Defesa dos Animais<br>
  		<input type="radio" name="instituition.program" value="reforestation"> Reflorestamento<br>
  		<input type="radio" name="instituition.program" value="elderly"> Apoio à Terceira Idade<br>
  		<input type="radio" name="instituition.program" value="child"> Crianças<br>
	</form>
	</div>

	<div ng-show="!add"  class="alert alert-danger">{{error}}</div>
	<br>

	<button class="btn btn-primary btn-block" ng-click="addInstituition(instituition)">Cadastrar</button>
	<!-- ng-disabled="instituitionForm.$invalid"--> 
</div>