<div>
	<form name="instituitionForm">
		<input class="form-control" type="text" ng-model="instituition.name" name="name" placeholder="Nome" ng-required="true" />
		<input class="form-control" type="email" ng-model="instituition.email" name="email" placeholder="Email" ng-required="true"/>
		<input class="form-control" type="text" ng-model="instituition.description" name="description" placeholder="Descrição" ng-required="true" />
		<input class="form-control" type="text" ng-model="instituition.leader" name="leader" placeholder="Responsável" ng-required="true" />
		<input class="form-control" type="text" ng-model="instituition.cnpj" name="cnpj" placeholder="CNPJ" ng-pattern="/^\d{2}.\d{3}.\d{3}/\d{4}-\d{2}$/" ng-required="true" />
	</form>
	<br>
	<p>Selecione quais dos programas você atende</p>

	<div class="input-form">
		<form>
			<label class="radio-inline">
	  			<input type="radio" name="instituition.program" value="animals" style="float: none;margin-right: 10px;"> Defesa dos Animais<br>
	  		</label>
	  		<label class="radio-inline">
	  			<input type="radio" name="instituition.program" value="reforestation" style="float: none;margin-right: 10px;"> Reflorestamento<br>
	  		</label>
	  		<label class="radio-inline">
	  			<input type="radio" name="instituition.program" value="elderly" style="float: none;margin-right: 10px;"> Apoio à Terceira Idade<br>
	  		</label>
	  		<label class="radio-inline">
	  			<input type="radio" name="instituition.program" value="child" style="float: none;margin-right: 10px;"> Crianças<br>
	  		</label>
		</form>
	</div>
	<div ng-show="insituitionForm.cnpj.$error.pattern" class="alert alert-danger">
		O campo CNPJ não está válido.
	</div>
	<div ng-show="!add"  class="alert alert-danger">{{error}}</div>
	<br>

	<button class="btn btn-primary btn-block" ng-click="addInstituition(instituition)">Cadastrar</button>
	<!-- ng-disabled="instituitionForm.$invalid"--> 
</div>