
<div class="">
  <img src="../img/comoFunciona.jpg" width="60%" height="60%">
  <p style="text-align: justify;font-size: 16px">
    O usuário escolhe através do BeCloser quais causas ele deseja contribuir, automaticamente, através de uma porcentagem do que a operadora recebe de cada compra feita com o seu cartão.
  </p><p style="text-align: justify;font-size: 16px">
    Os valores arrecadados são repassados para realização de eventos buscando unir as pessoas para as causas propostas. Em especial, os colaboradores daqueles programas recebem informações e espaços para participarem dos eventos e sugerirem outras formas de apoio.
  </p>
</div>